---
import { Image } from 'astro:assets'
import video from '../../../public/video.png'
---


<div class="flex justify-center items-center mt-8">
    <Image src={video} alt='' class="w-full max-w-lg h-auto">
</div>